// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}
// @import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

@main-color: #87CEFA;
@main-font:'Bitter', serif;

html, body {
	height: 100%;
	font-size: 62.5%
	// font-family: @main-font;
}
h1{
	font-size:3.6rem;
}
h2, h3, h4, h5, h6{
	font-size:2.4rem;
}
nav{
	display:flex;
	border: 2px solid red;
	justify-content: space-evenly; 
	font-size:2.2rem;
	background: @main-color;
}

.bigcontainer{
	width:90%;
	margin: 0 auto;
	background: #778899;
	padding: .8rem;

	.intro{
		display:flex;
		flex-direction: column;
		justify-content: center;
		border: 2px solid blue;
		font-size:1.8rem;
		
		.self{
			width:35%;
			height:auto;
			border: 2px solid red;
	}//closes out self

		.summary{
			border: 2px solid red;
			background: @main-color;
			padding-top: 3rem;
			padding-bottom: 3rem;
		}

		.smallcontainer{
			border: 2px solid green;
		}
	
}//closes out intro
.workskills{
	display: flex;
	justify-content: space-evenly;
	border: solid red;
	font-size:1.8rem;
	padding-top: 3rem;
	padding-bottom: 3rem;

	.skills{
		border: 2px solid red;
		background: @main-color;
	}//closes out skills

	.workhistory{
		border: 2px solid red;
		background: @main-color;
	}//closes out workhistory

}//closes out workskills

.contact{
	border: 2px solid red;
	background: @main-color;
	font-size:1.8rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
}//closes out contact

}//closes out bigcontainer